#map {
    height: 100%;
    width: 100%
  }

*:focus {outline:none !important}

  html, body, main {
    height: 100%;
    width:  100%
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
  }

ul, li {
  color: white;
  padding-inline-start: 0px
}



.slideout-menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 172px;
  min-height: 100vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 0;
  display: none;
  background-color: #221F1F;
}

.slideout-menu-left {
  left: 0;
}

.slideout-menu-right {
  right: 0;
}

.slideout-panel {
  position: relative;
  z-index: 1;
  will-change: transform;
  background-color: #221F1F; /* A background-color is required */
  min-height: 100vh;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.toggle-button {
    background-color: #E50914;
    border: none;
    color: white;
    padding: 14px 18px;
    font-size: 16px;
    cursor: pointer;

}

@media screen and (min-width: 780px) {
  .slideout-panel {
    margin-left: 172px;
  }

  .slideout-menu {
    display: block;
  }

  .toggle-button {
    display: none;
  }
}

#fancy_btn {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  width: 125px;
  height: 25px;
  background: #E50914;
  position: relative;
  border-radius: 10px;
}

#filter {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  width: 80px;
  height: 25px;
  background: #E50914;
  position: relative;
  border-radius: 10px;
}

#showall {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  text-decoration: none;
  color: white;
  width: 135px;
  height: 25px;
  background: #E50914;
  position: relative;
  border-radius: 10px;
}

.fas {
  color: #E50914;
}
